# 1

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [5]:

data = {'animal' : ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age' : [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits' : [1, 3, 2, 3, 3, 2, 1, 1, 2, 1],
        'priority' : ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
df = DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       3       no
f    cat  2.0       2       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [7]:
df = df.fillna(df.mean())
df

  animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       3       no
f    cat  2.0000       2       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no

In [9]:
print(np.unique(df.animal))

['cat' 'dog' 'snake']

In [10]:
df.describe()

             age     visits
count  10.000000  10.000000
mean    3.437500   1.900000
std     1.770711   0.875595
min     0.500000   1.000000
25%     2.625000   1.000000
50%     3.218750   2.000000
75%     4.234375   2.750000
max     7.000000   3.000000

# 2

In [11]:
def Visita(dataFrame):
    return dataFrame.visits * 2

In [12]:
print(Visita(df))

a    2
b    6
c    4
d    6
e    6
f    4
g    2
h    2
i    4
j    2
Name: visits, dtype: int64

In [13]:
df['rank'] = df['visits'].rank(ascending=0)
print(df)

  animal     age  visits priority  rank
a    cat  2.5000       1      yes   8.5
b    cat  3.0000       3      yes   2.0
c  snake  0.5000       2       no   5.0
d    dog  3.4375       3      yes   2.0
e    dog  5.0000       3       no   2.0
f    cat  2.0000       2       no   5.0
g  snake  4.5000       1       no   8.5
h    cat  3.4375       1      yes   8.5
i    dog  7.0000       2       no   5.0
j    dog  3.0000       1       no   8.5

In [15]:
New_animals = ['cow','horse','shark']
df['animal'].isin(New_animals)

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
Name: animal, dtype: bool

# 3

In [17]:
DateOfBirthDay = DataFrame({
    'DateOfBirth' : ['1986-11-11', '1999-05-12', '1976-01-01', '1986-06-01', '1983-06-04', '1990-03-07', '1999-07-09'],
    'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX'],
},
    index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia']
)
print(DateOfBirthDay)

          DateOfBirth state
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

In [21]:
def filtroData(data, _palavra):
    return data[data.state == _palavra]

In [23]:
print(filtroData(DateOfBirthDay, 'TX'))

          DateOfBirth state
Nick       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX